<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>payment</title>
    <style>
body{
    font-family:Arial;
    text-align:center;
    background:#f8f9fa;
}

form{
    margin-top:50px;
}

button{
    padding:10px 20px;
    background:#007bff;
    color:white;
    border:none;
    border-radius:5px;
}
</style>
</head>
<body>
    <h2>Select Payment Method</h2>

<form method="post">
    <input type="radio" name="payment" value="cod" required> Cash on Delivery <br><br>
    <p>For Now Only Cash On DElivery</p>   
    <button type="submit">Confirm Payment</button>
</form>
    
</body>
</html>