<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
    <style>
        button{background:#28a745;}
        button:hover{background:#1e7e34;}
    </style>
    
</head>
<body>
    <form method="POST">
        <input type="text" name="username" placeholder="username" required>
        <br><br>
        <input type="text" name="email" placeholder="email" required>
        <br><br>
        <input type="password" name="password" placeholder="password" required>
        <br><br>

    <input type="submit" value="submit">
    </form>
    
</body>
</html>